Exercicis per practicar amb regressions.
- Exercici 1
Crea almenys dos models de regressió diferents per intentar predir el millor possible el preu de les vivendes (MEDV) de l'arxiu adjunt.

- Arbre de decisió

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as scipy
from scipy import stats
from scipy.stats import ttest_ind
%matplotlib inline

In [40]:
df = pd.read_excel('Housing data.xslx.xlsx')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,632,1800,2310,0,5380,65750,6520,40900,1,2960,1530,39690,498,2400
1,2731,0,7070,0,4690,64210,7890,49671,2,2420,1780,39690,914,2160
2,2729,0,7070,0,4690,71850,6110,49671,2,2420,1780,39283,403,3470
3,3237,0,2180,0,4580,69980,4580,60622,3,2220,1870,39463,294,3340
4,6905,0,2180,0,4580,71470,5420,60622,3,2220,1870,39690,533,3620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,6263,0,11930,0,5730,65930,6910,24786,1,2730,2100,39199,967,2240
502,4527,0,11930,0,5730,61200,7670,22875,1,2730,2100,39690,908,2060
503,6076,0,11930,0,5730,69760,9100,21675,1,2730,2100,39690,564,2390
504,10959,0,11930,0,5730,67940,8930,23889,1,2730,2100,39345,648,2200
505,4741,0,11930,0,5730,60300,8080,25050,1,2730,2100,39690,788,1190

In [41]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [4]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,5.060000e+02,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524e+05,1136.363636,11136.778656,0.069170,5546.950593,62846.343874,6857.490119,37950.426877,9.549407,4082.371542,1845.553360,35667.403162,1265.306324,2253.280632
std,8.601545e+05,2332.245299,6860.352941,0.253994,1158.776757,7026.171434,2814.886141,21057.101266,8.707259,1685.371161,216.494552,9129.486438,714.106151,919.710409
min,6.320000e+02,0.000000,460.000000,0.000000,3850.000000,35610.000000,290.000000,11296.000000,1.000000,1870.000000,1260.000000,32.000000,173.000000,500.000000
25%,8.204500e+03,0.000000,5190.000000,0.000000,4490.000000,58855.000000,4502.500000,21001.750000,4.000000,2790.000000,1740.000000,37537.750000,695.000000,1702.500000
50%,2.565100e+04,0.000000,9690.000000,0.000000,5380.000000,62085.000000,7750.000000,32074.500000,5.000000,3300.000000,1905.000000,39144.000000,1136.000000,2120.000000
75%,3.677082e+05,1250.000000,18100.000000,0.000000,6240.000000,66235.000000,9407.500000,51884.250000,24.000000,6660.000000,2020.000000,39622.500000,1695.500000,2500.000000
max,8.897620e+06,10000.000000,27740.000000,1.000000,8710.000000,87800.000000,10000.000000,121265.000000,24.000000,7110.000000,2200.000000,39690.000000,3797.000000,5000.000000

In [5]:
df.columns = ['Crime Rate', 'Residential Zone', 'Non Retail bsn', 'Dummy Var', 'Nitric Ox Concetration', 'Room Average', 'Owners', 'Dist Boston Jobs', 'Index Highways Distance', 'Tax rate', 'School Ratio', 'Blacks Average', 'Perc Status Popul', 'Median Value Homes']
df.columns

Index(['Crime Rate', 'Residential Zone', 'Non Retail bsn', 'Dummy Var',
       'Nitric Ox Concetration', 'Room Average', 'Owners', 'Dist Boston Jobs',
       'Index Highways Distance', 'Tax rate', 'School Ratio', 'Blacks Average',
       'Perc Status Popul', 'Median Value Homes'],
      dtype='object')

In [6]:
df

,Crime Rate,Residential Zone,Non Retail bsn,Dummy Var,Nitric Ox Concetration,Room Average,Owners,Dist Boston Jobs,Index Highways Distance,Tax rate,School Ratio,Blacks Average,Perc Status Popul,Median Value Homes
0,632,1800,2310,0,5380,65750,6520,40900,1,2960,1530,39690,498,2400
1,2731,0,7070,0,4690,64210,7890,49671,2,2420,1780,39690,914,2160
2,2729,0,7070,0,4690,71850,6110,49671,2,2420,1780,39283,403,3470
3,3237,0,2180,0,4580,69980,4580,60622,3,2220,1870,39463,294,3340
4,6905,0,2180,0,4580,71470,5420,60622,3,2220,1870,39690,533,3620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,6263,0,11930,0,5730,65930,6910,24786,1,2730,2100,39199,967,2240
502,4527,0,11930,0,5730,61200,7670,22875,1,2730,2100,39690,908,2060
503,6076,0,11930,0,5730,69760,9100,21675,1,2730,2100,39690,564,2390
504,10959,0,11930,0,5730,67940,8930,23889,1,2730,2100,39345,648,2200
505,4741,0,11930,0,5730,60300,8080,25050,1,2730,2100,39690,788,1190

In [7]:
df.isnull().sum()

Crime Rate                 0
Residential Zone           0
Non Retail bsn             0
Dummy Var                  0
Nitric Ox Concetration     0
Room Average               0
Owners                     0
Dist Boston Jobs           0
Index Highways Distance    0
Tax rate                   0
School Ratio               0
Blacks Average             0
Perc Status Popul          0
Median Value Homes         0
dtype: int64

He considerado seleccionar las siguientes columnas que creo pueden tener un impacto mayor en el precio medio de las viviendas: 'Crime Rate','Dist Boston Jobs','School Ratio','Blacks Average'

In [9]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
Lo_que_queremos_averiguar = df['Median Value Homes']
# Remove the labels from the features
# axis 1 refers to the columns
La_informacion_que_tenemos = df[['Crime Rate','Dist Boston Jobs','School Ratio','Blacks Average']]
# Saving feature names for later use
feature_list = list(df.columns)

In [13]:
from sklearn.model_selection import train_test_split

>>> from sklearn.model_selection import train_test_split
>>> X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [14]:
train_features, test_features, train_labels, test_labels = train_test_split(La_informacion_que_tenemos,Lo_que_queremos_averiguar , test_size = 0.25, random_state = 42)

In [15]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (379, 4)
Training Labels Shape: (379,)
Testing Features Shape: (127, 4)
Testing Labels Shape: (127,)

Random Forest Regression

In [32]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [33]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 377.18 degrees.

In [34]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 81.48 %.

- Exercici 2
Compara’ls en base al MSE i al R2.

In [19]:
# Mean Squared Error
from sklearn.metrics import mean_squared_error
mean_squared_error(test_features, test_labels)

# No he logrado este ejercicio

ValueError: y_true and y_pred have different number of output (4!=1)

In [71]:
from sklearn.metrics import r2_score
r2_score(test_features, test_labels)

ValueError: y_true and y_pred have different number of output (13!=1)

- Exercici 4
Compara el seu rendiment emprant l’aproximació traint/test o emprant totes les dades (validació interna).

- Validación cruzada

In [47]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

Housing = pd.read_excel('Housing data.xslx.xlsx')

bosque = RandomForestClassifier()

bosque.fit(Housing[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']],
              Housing['MEDV'])

print(bosque.score(Housing[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']],
                     Housing['MEDV']))

1.0

In [50]:
print(cross_val_score(bosque,[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']],
                      #variable objetivo
                     Housing['MEDV'],
                      #pliegues
                     cv=5))

ValueError: Found input variables with inconsistent numbers of samples: [1, 506]

- Exercici 5
No facis servir la variable del nombre d'habitacions (RM) a l’hora de fer prediccions.

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as scipy
from scipy import stats
from scipy.stats import ttest_ind
%matplotlib inline
df = pd.read_excel('Housing data.xslx.xlsx')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,632,1800,2310,0,5380,65750,6520,40900,1,2960,1530,39690,498,2400
1,2731,0,7070,0,4690,64210,7890,49671,2,2420,1780,39690,914,2160
2,2729,0,7070,0,4690,71850,6110,49671,2,2420,1780,39283,403,3470
3,3237,0,2180,0,4580,69980,4580,60622,3,2220,1870,39463,294,3340
4,6905,0,2180,0,4580,71470,5420,60622,3,2220,1870,39690,533,3620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,6263,0,11930,0,5730,65930,6910,24786,1,2730,2100,39199,967,2240
502,4527,0,11930,0,5730,61200,7670,22875,1,2730,2100,39690,908,2060
503,6076,0,11930,0,5730,69760,9100,21675,1,2730,2100,39690,564,2390
504,10959,0,11930,0,5730,67940,8930,23889,1,2730,2100,39345,648,2200
505,4741,0,11930,0,5730,60300,8080,25050,1,2730,2100,39690,788,1190

In [52]:
df.columns = ['Crime Rate', 'Residential Zone', 'Non Retail bsn', 'Dummy Var', 'Nitric Ox Concetration', 'Room Average', 'Owners', 'Dist Boston Jobs', 'Index Highways Distance', 'Tax rate', 'School Ratio', 'Blacks Average', 'Perc Status Popul', 'Median Value Homes']
df

,Crime Rate,Residential Zone,Non Retail bsn,Dummy Var,Nitric Ox Concetration,Room Average,Owners,Dist Boston Jobs,Index Highways Distance,Tax rate,School Ratio,Blacks Average,Perc Status Popul,Median Value Homes
0,632,1800,2310,0,5380,65750,6520,40900,1,2960,1530,39690,498,2400
1,2731,0,7070,0,4690,64210,7890,49671,2,2420,1780,39690,914,2160
2,2729,0,7070,0,4690,71850,6110,49671,2,2420,1780,39283,403,3470
3,3237,0,2180,0,4580,69980,4580,60622,3,2220,1870,39463,294,3340
4,6905,0,2180,0,4580,71470,5420,60622,3,2220,1870,39690,533,3620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,6263,0,11930,0,5730,65930,6910,24786,1,2730,2100,39199,967,2240
502,4527,0,11930,0,5730,61200,7670,22875,1,2730,2100,39690,908,2060
503,6076,0,11930,0,5730,69760,9100,21675,1,2730,2100,39690,564,2390
504,10959,0,11930,0,5730,67940,8930,23889,1,2730,2100,39345,648,2200
505,4741,0,11930,0,5730,60300,8080,25050,1,2730,2100,39690,788,1190

In [55]:
df.columns

Index(['Crime Rate', 'Residential Zone', 'Non Retail bsn', 'Dummy Var',
       'Nitric Ox Concetration', 'Room Average', 'Owners', 'Dist Boston Jobs',
       'Index Highways Distance', 'Tax rate', 'School Ratio', 'Blacks Average',
       'Perc Status Popul', 'Median Value Homes'],
      dtype='object')

In [56]:
# Labels are the values we want to predict
Lo_que_queremos_averiguar = df['Median Value Homes']
# Remove the labels from the features
# Sacamos la columna 'Room Average' y 'Median Value Homes'
La_informacion_que_tenemos = df[['Crime Rate', 'Residential Zone', 'Non Retail bsn', 'Dummy Var',
       'Nitric Ox Concetration', 'Owners', 'Dist Boston Jobs',
       'Index Highways Distance', 'Tax rate', 'School Ratio', 'Blacks Average',
       'Perc Status Popul']]
# Saving feature names for later use
feature_list = list(df.columns)

In [57]:
from sklearn.model_selection import train_test_split 
train_features, test_features, train_labels, test_labels = train_test_split(La_informacion_que_tenemos,Lo_que_queremos_averiguar , test_size = 0.25, random_state = 42)

In [58]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (379, 12)
Training Labels Shape: (379,)
Testing Features Shape: (127, 12)
Testing Labels Shape: (127,)

In [60]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [61]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 270.28 degrees.

In [62]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 87.21 %.